<section class="slider1 cid-syhAUrGtue" [class]='myClass' id="slider1-13">

  <div class="carousel slide" [id]="mydId" data-ride="carousel" data-interval="3000">
      <ol class="carousel-indicators">
          <li data-slide-to="0" class="active" [attr.data-target]="'#' + mydId"></li>
          <li data-slide-to="1" [attr.data-target]="'#' + mydId"></li>
          <li data-slide-to="2" [attr.data-target]="'#' + mydId"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item slider-image item active">
              <div class="item-wrapper">
                  <img class="d-block w-100" [src]=this.source[1]>

                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>{{mydId}}</strong>
                      </h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">{{description[0]}}<br><br></p>
                  </div>
              </div>
          </div>
          <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                  <img class="d-block w-100" [src]=this.source[0]>

                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>{{mydId}}</strong>
                      </h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">{{description[1]}}<br><br></p>
                  </div>
              </div>
          </div>
          <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                  <img class="d-block w-100" [src]=this.source[2]>

                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>{{mydId}}</strong>
                      </h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">{{description[2]}}<br><br></p>
                  </div>
              </div>
          </div>
      </div>
      <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" [href]="'#' + mydId">
          <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control carousel-control-next" role="button" data-slide="next" [href]="'#' + mydId">
          <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</section>
