<section class="slider1 cid-syhAUrGtue" id="slider1-13">

  <div class="carousel slide" id="sym9vtx4dd" data-ride="carousel" data-interval="3000">
      <ol class="carousel-indicators">
          <li data-slide-to="0" class="active" data-target="#sym9vtx4dd"></li>
          <li data-slide-to="1" data-target="#sym9vtx4dd"></li>
          <li data-slide-to="2" data-target="#sym9vtx4dd"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item slider-image item active">
              <div class="item-wrapper">
                  <img class="d-block w-100" src="assets/images/mbr-1900x1262.jpg">

                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>Maquetes</strong></h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">Algumas maquetes<br><br></p>
                  </div>
              </div>
          </div>
          <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                  <img class="d-block w-100" src="assets/images/mbr-1900x1267.jpg">

                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>Maquete de macacos</strong>
                      </h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">Click on the image to edit slides.</p>
                  </div>
              </div>
          </div>
          <div class="carousel-item slider-image item">
              <div class="item-wrapper">
                  <img class="d-block w-100" src="assets/images/mbr-1900x1234.jpg">

                  <div class="carousel-caption">
                      <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                          <strong>Maquetes</strong></h5>
                      <p class="mbr-section-text mbr-fonts-style display-7">Pequenos pedaços de mundo</p>
                  </div>
              </div>
          </div>
      </div>
      <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#sym9vtx4dd">
          <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#sym9vtx4dd">
          <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</section>
