<section class="contacts3 map1 cid-sym54nNNOk" id="contacts3-1a">
  <div class="container">
      <div class="mbr-section-head">
          <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
              <strong>Contato</strong></h3>
          <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Fale comigo</h4>
      </div>
      <div class="row justify-content-center mt-4">
          <div class="card col-12 col-md-6">
              <div class="card-wrapper">
                  <div class="image-wrapper">
                      <span class="mbr-iconfont mobi-mbri-phone mobi-mbri" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                  </div>
                  <div class="text-wrapper">
                      <h6 class="card-title mbr-fonts-style mb-1 display-5">
                          <strong>Telefone</strong></h6>
                      <p class="mbr-text mbr-fonts-style display-7">(11) 2234-2292</p>
                  </div>
              </div>
              <div class="card-wrapper">
                  <div class="image-wrapper">
                      <span class="mbr-iconfont socicon-mail socicon" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                  </div>
                  <div class="text-wrapper">
                      <h6 class="card-title mbr-fonts-style mb-1 display-5">
                          <strong>Email</strong>
                      </h6>
                      <p class="mbr-text mbr-fonts-style display-7">
                          <a href="mailto:info@site.com" class="text-primary">info@site.com</a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="map-wrapper col-12 col-md-6">
              <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.3966751084345!2d-46.63778508502373!3d-23.482217584722235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef7b20b963c15%3A0x5b19c2eb07be99ce!2sR.%20Pestana%2C%2037%20-%20Mandaqui%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002433-070!5e0!3m2!1spt-BR!2sbr!4v1621881808771!5m2!1spt-BR!2sbr" allowfullscreen=""></iframe></div>
          </div>
      </div>
  </div>
</section>
