
<section class="header5 cid-sy6n0NNqkp mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/oqv35UZepIM" id="header5-10">
  <video autoplay oncanplay="this.muted=true" loop id="myVideo">
    <source src="../../../assets/video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="container" >
      <div class="row justify-content-end">
          <div class="col-12 col-lg-7">
              <h1 class="mbr-section-title mbr-fonts-style mbr-white display-1"><strong>Bem vindo ao meu atêlie</strong></h1>

              <p class="mbr-text mbr-fonts-style mbr-white display-7">Deixe-me mostrar um pouco da minha arte</p>
              <div class="mbr-section-btn mt-3"><a class="btn btn-warning display-7" pageScroll pageScrollDuration='500' href="#slider1-13">Veja minhas maquetes</a>
                  <a class="btn btn-black display-7" href="index.html#slider1-19">Vejas meus desenhos</a></div>
          </div>
      </div>
  </div>
</section>
