<section class="testimonials1 cid-syhHfPFHfH" id="testimonials1-16">
  <div class="container">
      <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
          <strong>Sobre mim</strong></h3>
      <div class="row align-items-center">
          <div class="col-12 col-md-6">
              <div class="image-wrapper">
                  <img src="assets/images/team2.jpg" alt="Mobirise">
              </div>
          </div>
          <div class="col-12 col-md">
              <div class="text-wrapper">
                  <p class="mbr-text mbr-fonts-style mb-4 display-7">Meu nome é Solange Boudoux. Gosto de jogar gorfe e fazer maquetes, além de ver uma novela turca infinita.<br><br><br>Sed sed tincidunt enim, ac ultrices orci. Nunc iaculis nulla aliquam mauris pellentesque, vitae bibendum dolor sollicitudin. Nullam fringilla, quam eu tincidunt dapibus, enim arcu malesuada purus, rhoncus cursus dui risus eu magna. Nam elementum tincidunt sem id ornare. Duis eu fringilla arcu, in ullamcorper dolor. Mauris quis hendrerit metus. Nulla suscipit suscipit mauris. Duis lobortis semper lorem, non congue massa auctor nec. Nunc vulputate erat vel orci ullamcorper porttitor. Phasellus felis lectus, egestas sit amet pretium efficitur, lacinia non massa. Ut et purus sed ligula scelerisque viverra. Nullam vestibulum sapien eleifend aliquam placerat. Quisque volutpat lorem at urna tempor cursus. Aliquam at quam tincidunt, pretium mi at, rhoncus lacus.<br></p>
                  <p class="name mbr-fonts-style mb-1 display-4">
                      <strong>Solange Boudoux</strong></p>
              </div>
          </div>
      </div>
  </div>
</section>
